<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Biblioteca</title>
</h:head>
<h:body>
	<h:form>
		<p:growl autoUpdate="true" />

		<p:panelMenu style="width:300px">
			<p:submenu label="Ajax Menuitems">
				<p:menuitem value="Save" actionListener="#{menuView.save}"
					icon="ui-icon-disk" />
				<p:menuitem value="Update" actionListener="#{menuView.update}"
					icon="ui-icon-arrowrefresh-1-w" />
			</p:submenu>
			<p:submenu label="Non-Ajax Menuitem">
				<p:menuitem value="Delete" actionListener="#{menuView.delete}"
					ajax="false" icon="ui-icon-close" />
			</p:submenu>
			<p:separator />
			<p:submenu label="Navigations">
				<p:submenu label="Links" icon="ui-icon-extlink">
					<p:submenu label="PrimeFaces" icon="ui-icon-heart">
						<p:menuitem value="Home" url="http://www.primefaces.org"
							icon="ui-icon-home" />
						<p:menuitem value="Docs"
							url="http://www.primefaces.org/documentation"
							icon="ui-icon-document" />
						<p:menuitem value="Download"
							url="http://www.primefaces.org/downloads"
							icon="ui-icon-arrowthick-1-s" />
						<p:menuitem value="Support"
							url="http://www.primefaces.org/support" icon="ui-icon-wrench" />
					</p:submenu>
				</p:submenu>
			</p:submenu>
		</p:panelMenu>
	</h:form>
</h:body>
</html>